<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Select Name</title>
</head>
<body>

<form method="post" action="/vote">
<select>
    <option value="" selected="selected">Please select a name</option>
    <option value="firstName">Allison</option>
    <option value="firstName">Bob</option>
    <option value="firstName">Clara</option>
    <option value="firstName">Dan</option>
    <option value="firstName">Emily</option>
    <option value="firstName">Frank</option>
    <option value="firstName">Guinevere</option>
    <option value="firstName">Hector</option>
    <option value="firstName">Irma</option>
    <option value="firstName">John</option>
</select>
<button>Select</button>
</form>



</body>
</html>